__pycache__/
.ipynb_checkpoints/

*.DS_Store

DVEfiles/
opendatabase.log
ucli.key

SimOut/
target/
test_run_dir/
generated-src/
out/
verilator/

.idea/
*.fir
*.v
hammer-vlsi*
*-output.json
*.swp
*.jar
